* {
    box-sizing: border-box;
}
body {
    background-color: #004225;
    color: white;
    font-size: 20px;
    text-align:center;
    margin:auto;
}

h1 {
    font-size: 2em;
    color: red;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    color: fuchsia;
}

div {
    padding: 30px;
    border: 3px dashed rgb(255, 216, 0);
    border-radius: 10px;
}

#studies {
    text-align: left;
    font-family: Algerian;
    color: aqua;
    background-color:azure;
}

#work {
    color: chartreuse;
    font-weight: bolder;
    font-style: italic;
    text-align:left;
    background-color: crimson;
}

a:link {
    color: white;
}

a:visited {
    color: chocolate;
}


a:hover {
    color: darkviolet;
}


a:active {
    color: blue;
}
#nav a {flex : 1 1 auto;
        text-decoration:none ;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
@media screen and (min-width: 768px){

    body {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 1500px;
    }
    #első,#nav{ order:-1;}
    #studies{flex: 1 1 50%;}
    #munka{flex: 1 1 50%;}

}